<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Тарифы</h2>
		</div>
	</div>
	<div class="col-xs-12 col-lg-3 left_blo">
		{{ this.render('/module/company_step.twig', {'company' : company}) | raw }}
	</div>

	<div class="col-xs-12 col-lg-9">

		<div class="newblo">
			<h2>Страница в процессе создания</h2>
		</di>
	</div>
</div>
