<div class="row">
	<div class="hidden-xs col-lg-12">
		<div class="newblo">
			<h2>Профиль</h2>
			<p class="tac">Заполните, пожалуйста, информацию о себе!</p>
		</div>
	</div>

	{{ this.render('_form.php', {'model' : model}) | raw }}

</div>





