<div class="steps">
	<div class="newblo">
		<h2>Места</h2>
		<div class="step comps">
			<a href="/admin/places/index"><span class="glyphicon glyphicon-briefcase"></span> Все места</a>
		</div>
		<div class="step land">
			<a target="_blank" href="/{{ model.cities.alias }}/place/{% if  model.alias %}{{ model.alias }}{% else %}{{ model.id }}{% endif %}"><span class="glyphicon glyphicon-share"></span> Промо страница</a>
		</div>
	</div>
</div>
<div class="steps">
	<div class="newblo">
		<h2>CRM</h2>
		<div class="step comps">
			<a href="/crm/city/index"><span class="glyphicon glyphicon-briefcase"></span> Города</a>
		</div>
		
	</div>
</div>
