еуые
         <!-- banner start-->
         <section class="hero-area">
            <div class="banner-item" style="background-image:url(images/hero_area/banner_bg.jpg)">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-8">
                        <div class="banner-content-wrap">
                           <p class="banner-info wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                           {% for item in biblioevent_one.events %} {{ item.date|date("Y-m-d H:i") }}, {% endfor %}

                               <strong>Место проведения события: </strong>ОНЛАЙН</p>
                           <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">Онлайн курс </h1>
                           <h2 class="banner-title2 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">«Маленький спектакль = большая радость»</h2>
                           <div class="countdown wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                              <div class="counter-item">
                                 <i class="icon icon-ring-1Asset-1"></i>
                                 <span class="days">00</span>
                                 <div class="smalltext">Дней</div>
                              </div>
                              <div class="counter-item">
                                 <i class="icon icon-ring-4Asset-3"></i>
                                 <span class="hours">00</span>
                                 <div class="smalltext">Часов</div>
                              </div>
                              <div class="counter-item">
                                 <i class="icon icon-ring-3Asset-2"></i>
                                 <span class="minutes">00</span>
                                 <div class="smalltext">Минут</div>
                              </div>
                              <div class="counter-item">
                                 <i class="icon icon-ring-4Asset-3"></i>
                                 <span class="seconds">00</span>
                                 <div class="smalltext">Секунд</div>
                              </div>
                           </div>
                           <!-- Countdown end -->
                           <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                              <a href="#" class="btn">Оставить заявку</a>
                           </div>
                        </div>
                        <!-- Banner content wrap end -->
                     </div>
                     <!-- col end-->
                     <div class="col-lg-4 align-self-end">
                        <div class="banner-img">
                           <!-- <img src="images/hero_area/banner_img.png" alt=""> -->
                        </div>
                     </div>
                  </div>
                  <!-- row end-->
               </div>
               <!-- Container end -->
            </div>
            <!-- banner slice image-->
            <div class="tiles">
               <div class="tile" data-scale="1.1" data-image="images/hero_area/banner_slices.png"></div>
            </div>
         </section>
         <!-- banner end-->
         <!-- ts intro start -->
         <section class="ts-intro-item section-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                     <div class="intro-left-content">
                        <h2 class="column-title">
                           <span>Кому подойдёт </span>
                           Курс Мамтеатра?
                        </h2>
                        <p>
                           Спектакль можно сыграть самому, а если дети заходят в нем участвовать, мы подскажем – как их организовать и куда направить, чтобы спектакль все-таки состоялся.
                        </p>
                        <a href="#" class="btn">Оставить заявку</a>
                     </div>
                  </div>
                  <!-- col end-->
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                           <div class="single-intro-text mb-30">
                              <i class="icon icon-speaker"></i>
                              <h3 class="ts-title">Мамам</h3>
                              <p>
                                 Мамам детей от 3 до 10 лет. Именно для них мы будем придумывать маленький добрый спектакль 
                                 &nbsp;
                              </p>
                              <span class="count-number">01</span>
                           </div>
                           <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                           <div class="single-intro-text mb-30">
                              <i class="icon icon-netwrorking"></i>
                              <h3 class="ts-title">Всем</h3>
                              <p>
                                 Всем-всем-всем, кто хочет научиться ставить домашние спектакли и не знает, с чего начать
                              </p>
                              <span class="count-number">02</span>
                           </div>
                           <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                           <div class="single-intro-text mb-30">
                              <i class="icon icon-people"></i>
                              <h3 class="ts-title">Режиссёрам</h3>
                              <p>
                                 Кому интересна профессия режиссера, сценариста или постановщика
                              </p>
                              <span class="count-number">03</span>
                           </div>
                           <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                           <div class="single-intro-text mb-30">
                              <i class="icon icon-fun"></i>
                              <h3 class="ts-title">Семьям</h3>
                              <p>
                                 Кто хочет разнообразить досуг и объединить семью за новым, интересным делом
                              </p>
                              <span class="count-number">04</span>
                           </div>
                           <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                     </div>
                  </div>
                  <!-- col end-->
               </div>
               <!-- row end-->
            </div>
            <!-- container end-->
         </section>
         <!-- ts intro end-->
         <!-- ts speaker start-->
         <section id="ts-speakers" class="ts-speakers" style="background-image:url(images/speakers/speaker_bg.png)">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 mx-auto">
                     <h2 class="section-title text-center">
                        <span>Автор и ведущая курса</span>
                        Екатерина Гороховская
                     </h2>
                  </div>
                  <!-- col end-->
               </div>
               <!-- row end-->
               <div class="row">
                  <div class="col-lg-8 mx-auto wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                     <div class="ts-speaker">
                        <div class="speaker-img">
                           <img class="img-fluid" src="images/speakers/speaker1.jpg" alt="">
                           <a href="#popup_1" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                           <i class="icon icon-plus"></i>
                           </a>
                        </div>
                        <div class="ts-speaker-info">
                           <h4>Актриса и режиссер театра «Мастерская», Санкт-Петербург, дипломированный театровед. Работает с детьми и подростками – 16 лет. </h4>
                           <h4>На её счету - более 50 постановок по всей стране (детские и взрослые спектакли, спектакли для семейного просмотра). </h4>
                           <h4>Актриса дубляжа, чьим голосом говорят Лунтик и Пчеленок, Лиза Барбоскина и царевна Варя, Забава и Аленушка в мультфильмах о богатырях.
                              Мама двух сыновей
                           </h4>
                        </div>
                     </div>
                     <!-- popup start-->
                     <div id="popup_1" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="ts-speaker-popup-img">
                                 <img src="images/speakers/speaker1.jpg" alt="">
                              </div>
                           </div>
                           <!-- col end-->
                           <div class="col-lg-6">
                              <div class="ts-speaker-popup-content">
                                 <h3 class="ts-title">Екатерина Гороховская</h3>
                                 <span class="speakder-designation">Автор и ведущая курса</span>
                                 <!-- <img class="company-logo" src="images/sponsors/sponsor-6.png" alt=""> -->
                                 <p>
                                 <ul>
                                    <li> актриса и режиссер театра «Мастерская», Санкт-Петербург
                                    <li> дипломированный театровед</li>
                                    <li>стаж работы с детьми и подростками – 16 лет</li>
                                    <li>более 50 постановок по всей стране (детские и взрослые спектакли, спектакли для семейного просмотра)</li>
                                    <li>актриса дубляжа, чьим голосом говорят Лунтик и Пчеленок, Лиза Барбоскина и царевна Варя, Забава и Аленушка в мультфильмах о богатырях</li>
                                    <li>мама двух сыновей</li>
                                 </ul>
                                 </p>
                                 <div class="ts-speakers-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                 </div>
                              </div>
                              <!-- ts-speaker-popup-content end-->
                           </div>
                           <!-- col end-->
                        </div>
                        <!-- row end-->
                     </div>
                     <!-- popup end-->
                  </div>
                  <!-- col end-->
               </div>
               <!-- row end-->
            </div>
            <!-- container end-->
            <!-- shap img-->
            <div class="speaker-shap">
               <img class="shap1" src="images/shap/home_speaker_memphis1.png" alt="">
               <img class="shap2" src="images/shap/home_speaker_memphis2.png" alt="">
               <img class="shap3" src="images/shap/home_speaker_memphis3.png" alt="">
            </div>
            <!-- shap img end-->
         </section>
         <!-- ts speaker end-->
         <!-- ts experience start-->
         <section id="ts-experiences" class="ts-experiences">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4 no-padding">
                     <div class="exp-img" style="background-image:url(images/cta_img.jpg)">
                        <!-- <img class="img-fluid" src="images/cta_img.jpg" alt=""> -->
                     </div>
                  </div>
                  <!-- col end-->
                  <div class="col-lg-8 no-padding align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                     <div class="ts-exp-wrap">
                        <div class="ts-exp-content">
                           <h2 class="column-title"> 
                              <span>Театр</span>
                           </h2>
                           <p>
                              Театр – это не только что-то большое и торжественно-пышное, как уже убедились многие мамы в Мамтеатре. Театр пронизывает нашу жизнь, и только нам решать, кто мы – режиссеры или марионетки.
                           </p>
                           <p>Мы используем театральные упражнения и наработки для того, чтобы победить наступающую тьму. Развеять грусть. Собрать семью вместе за общим увлекательным делом. В результате может родиться маленький новогодний (рождественский) спектакль, сыгранный родителями для детей. Или поставленный вместе с детьми для родственников и друзей. Или можно использовать все, о чем мы будем рассказывать на курсе, по отдельности, привнося в повседневную жизнь радость и осознанную игру. После каждого занятия у вас остается пригоршня ярких бусин (упражнений, идей, навыков). Вы можете собрать из этих бусин красивое ожерелье, а можете сложить в коробочку и доставать по одной или перебирать в свое удовольствие. Коробочка останется с вами навсегда!</p>
                        </div>
                     </div>
                  </div>
                  <!-- col end-->
               </div>
               <!-- row end-->
            </div>
            <!-- container fluid end-->
         </section>
         <!-- ts experience end-->
         <!-- schedule start-->
         <section class="ts-schedule">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                     <div class="ts-schedule-content">
                        <h2 class="column-title">
                           <span>Примерное</span>
                           Расписание практик
                        </h2>
                        <p>Каждая живая встреча - это не лекция, а практика!
                        </p>
                     </div>
                  </div>
                  <!-- col end-->
                  <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                     <div class="ts-schedule-info mb-70">
                        <ul class="nav nav-tabs" role="tablist">
                           <li class="nav-item">
                              <a class="active" title="Click Me" href="#date1" role="tab" data-toggle="tab">
                                 <h3>8 ноября</h3>
                                 <span>Понедельник</span>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a class="" href="#date2" title="Click Me" role="tab" data-toggle="tab">
                                 <h3>9 ноября</h3>
                                 <span>Вторник</span>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a class="" href="#date3" title="Click Me" role="tab" data-toggle="tab">
                                 <h3>10 ноября</h3>
                                 <span>Среда</span>
                              </a>
                           </li>
                        </ul>
                        <!-- Tab panes -->
                     </div>
                  </div>
                  <!-- col end-->
               </div>
               <!-- row end-->
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tab-content schedule-tabs">
                        <div role="tabpanel" class="tab-pane active" id="date1">
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 9.30 - 10.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">
                                       Упражнения на внимание
                                       <!-- <strong>@ Fredric Martinsson</strong> -->
                                    </h3>
                                    <p>Упражнения на внимание, ритм, мышление и волю, погружение в момент «здесь и сейчас». Как можно трансформировать упражнения в зависимости от возраста и применять в повседневной жизни </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 10.30 - 11.30 </span>
                                 Тренировка
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Упражнения на развитие органов чувств
                                    </h3>
                                    <p>Смысл и значение этих чувств, как можно превращать эти упражнения в игру в зависимости от возрастных потребностей ребенка и использовать в обычной жизни </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 11.30 - 12.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Учимся слушать и слышать себя
                                    </h3>
                                    <p>Учимся слушать и слышать себя, определять свои потребности, понимать потребности ребенка и партнера и говорить о них на языке театра</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 13.30 - 14.30</span>
                                 Занятие
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Творческая практика
                                    </h3>
                                    <p>Учимся читать, сочинять и воплощать художественные образы </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 14.30 - 15.30</span>
                                 Мастер-класс
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Воплощение
                                    </h3>
                                    <p>Учимся планировать и воплощать задуманное в жизнь. Становимся режиссерами своей жизни </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing-btn">
                              <a href="#" class="btn">Подробнее</a>
                           </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="date2">
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 02.30 - 03.30 </span>
                                 Лекция
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 03.30 - 04.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 04.30 - 05.30 </span>
                                 Мастер-класс
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 05.30 - 06.30 </span>
                              </div>
                              <div class="schedule-slot-info">
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 06.30 - 07.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker8.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing-btn">
                              <a href="#" class="btn">Подробнее</a>
                           </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="date3">
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 07.30 - 11.30 </span>
                                 Мастер-класс
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 9.30 - 10.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 10.30 - 11.30 </span>
                                 Постановка
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить</p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing launce">
                              <div class="schedule-slot-time">
                                 <span> 11.30 - 12.30 </span>
                              </div>
                              <div class="schedule-slot-info">
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing">
                              <div class="schedule-slot-time">
                                 <span> 12.30 - 01.30 </span>
                                 Практика
                              </div>
                              <div class="schedule-slot-info">
                                 <a href="#">
                                 <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                 </a>
                                 <div class="schedule-slot-info-content">
                                    <h3 class="schedule-slot-title">Название
                                    </h3>
                                    <p>Описание что будет происходить </p>
                                 </div>
                                 <!--Info content end -->
                              </div>
                              <!-- Slot info end -->
                           </div>
                           <!--schedule-listing end -->
                           <div class="schedule-listing-btn">
                              <a href="#" class="btn">Подробнее</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- container end-->
         </section>
         <!-- schedule end-->
         <!-- ts pricing start-->
         <section class="ts-pricing gradient" style="background-image: url(images/pricing/pricing_img.jpg)">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <h2 class="section-title white">
                        <a id="price"><span>Ваши</span></a>
                        Варианты участия
                     </h2>
                  </div>
                  <!-- section title end-->
               </div>
               <!-- col end-->
               <!-- row end-->
               <div class="row">
                  <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                     <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                           <div class="ts-pricing-header">
                              <h2 class="ts-pricing-name">Тариф «Я сама»</h2>
                              <h3 class="ts-pricing-price">
                                 2000 <span class="currency">₽</span>
                              </h3>
                           </div>
                           <div class="ts-pricing-progress">
                              <p class="amount-progres-text">Доступ ко всем модулям</p>
                              <div class="ts-progress">
                                 <div class="ts-progress-inner" style="width: 100%"></div>
                              </div>
                              <!-- <p class="ts-pricing-value">500/500</p> -->
                           </div>
                           <div class="promotional-code">
                              <p class="promo-code-text">Обратная связь - сессия «вопрос-ответ» раз в неделю. Возможность задать вопрос в общем чате.</p>
                              <p class="promo-code-text">Возможность задать вопрос в общем чате.</p>
                              <a href="#" class="btn pricing-btn">Записаться</a>
                              <p class="vate-text">Модули открываются по расписанию. Доступ к курсу 2 месяца</p>
                              <p class="vate-text">Доступ к курсу 2 месяца</p>
                           </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                     </div>
                  </div>
                  <!-- col end-->
                  <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                     <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                           <span class="big-dot"></span>
                           <div class="ts-pricing-header">
                              <h2 class="ts-pricing-name">Тариф «В кругу» </h2>
                              <h3 class="ts-pricing-price">
                                 3000 <span class="currency">₽</span>
                              </h3>
                           </div>
                           <div class="ts-pricing-progress">
                              <p class="amount-progres-text">Доступ ко всем модулям</p>
                              <div class="ts-progress">
                                 <div class="ts-progress-inner" style="width: 75%"></div>
                              </div>
                              <p class="ts-pricing-value">Доступно 30 мест</p>
                           </div>
                           <div class="promotional-code">
                              <p class="promo-code-text">Обратная связь от Екатерины Гороховской: ответы на вопросы в чате</p>
                              <p class="promo-code-text">Конспекты занятий</p>
                              <a href="#" class="btn pricing-btn">Записаться</a>
                              <p class="vate-text">Бонусы и дополнительные эфиры от приглашённых педагогов</p>
                           </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                     </div>
                  </div>
                  <!-- col end-->
                  <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                     <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                           <span class="big-dot"></span>
                           <div class="ts-pricing-header">
                              <h2 class="ts-pricing-name">Тариф «Поддержка»</h2>
                              <h3 class="ts-pricing-price">
                                 4000 <span class="currency">₽</span>
                              </h3>
                           </div>
                           <div class="ts-pricing-progress">
                              <p class="amount-progres-text">Доступ ко всем модулям</p>
                              <div class="ts-progress">
                                 <div class="ts-progress-inner" style="width: 50%"></div>
                              </div>
                              <p class="ts-pricing-value">Доступно 1 место</p>
                           </div>
                           <div class="promotional-code">
                              <p class="promo-code-text">Индивидуальное сопровождение: личный чат, обратная связь, подробная проработка вашей идеи.</p>
                              <p class="promo-code-text">Доступ к курсу по голосу и речи</p>
                              <a href="#" class="btn pricing-btn">Записаться</a>
                              <p class="vate-text">Индивидуальная консультация от продюсера Жанны Мороз</p>
                           </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                     </div>
                  </div>
                  <!-- col end-->
               </div>
            </div>
            <!-- container end-->
            <div class="speaker-shap wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
               <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
            </div>
         </section>
         <!-- ts pricing end-->
         <section id="main-container" class="main-container ts-gallery">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 mx-auto">
                     <h2 class="section-title text-center">
                        <span>Прекрасные моменты</span>
                        Галерея
                     </h2>
                  </div>
                  <!-- col end-->
               </div>
               <div class="grid ts-grid-item">
                  <div class="grid-item">
                     <a href="images/gallery/gallery1.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-01.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery2.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-02.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery3.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-03.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery4.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-04.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery5.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-05.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery6.jpg" class="ts-popup"><img src="images/gallery/20210417-mamteatr-06.jpg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery7.jpg" class="ts-popup"><img src="images/gallery/210504-zhana-moroz-5.jpeg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                     <a href="images/gallery/gallery8.jpg" class="ts-popup"><img src="images/gallery/gallery8.jpg" alt="" /></a>
                  </div>
                  <div class="grid-item">
                  </div>
               </div>
            </div>
            <!-- Conatiner end -->
         </section>
         <!-- Main container end -->
         <!-- ts sponsors end-->     