<h2>ОШИБКА ОПЛАТЫ</h2>

<p>Вы не смогли приобрести билет на событие <b>{{event.biblioevents.name}}</b>.</p>
<p>Дата: <b>{{event.date|date('d.m.Y')}}</b> в <b>{{event.date|date('H:i')}}</b> </p>

<p>Ваша оплата не прошла... </p>

<p>«Если у вас возникли вопросы, свяжитесь с нами по тел.: +7(925)881-97-81 или почте: v@igoevent.com</p>