<h2>ПОСТ</h2>

<form class="event_form" method="POST" action="/checktest/my">

	<input type="hidden" name="id" class="id" value="12121">
	<input type="hidden" name="type" value="9">

	<div class="clear"></div>

	<div class="form-group">
		<label>E-mail</label>
		<input class="form-control mail" type="text" name="mail" value="in@mail.ru">
	</div>

	<div class="form-group">
		<label>Фамилия</label>
		<input class="form-control secondname" type="text" name="second_name" value="Ivan">
	</div>

	<div class="form-group">
		<label>Имя</label>
		<input class="form-control name" type="text" name="name" value="IIIII">
	</div>

	<div class="form-group">
		<label>Номер телефона</label>
		<input class="form-control phone" type="text" name="phone" value="89796969">
	</div>


	<div class="form-group">
		<label>Комментарий</label>
		<input class="form-control" type="text" name="info" value="test">
	</div>

	<button type="submit" class="btn btn-primary">Отправить</button>

</form>