<div class="row">

    <div class="col-xs-12 col-sm-12">
        <h2>
            {{ person.second_name }} {{ person.name }} {{ person.middle_name }}
        </h2>
    </div>

<!--     <div class="col-xs-12 col-sm-2 col-sm-offset-1"><h3 class="itog">{{ 0 + person.sum_visits }}<span>Визиты</span></h3></div>
    <div class="col-xs-12 col-sm-2"><h3 class="itog">{{ 0 + person.sum_tickets }}<span>Билеты</span></h3></div>
    <div class="col-xs-12 col-sm-2"><h3 class="itog">{{ 0 + person.sum_sells }}<span>Покупки</span></h3></div>
    <div class="col-xs-12 col-sm-2"><h3 class="itog">{{ 0 + person.sum_abonements }}<span>Абонем.</span></h3></div>
    <div class="col-xs-12 col-sm-2"><h3 class="itog">{{ 0 + person.sum_rents }}<span>Аренды</span></h3></div>
 --></div>

<div class="row">

    <div class="col-xs-12 col-sm-12">
        <div class="blocks">
            <h2>Бонусы для вас</h2>
            <p>Бонусов нет</p>
        </div>
    </div>

</div>





