<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h1 class="tac">Добро пожаловать <br>в Личный кабинет на iGoEvent.com</h1>
        <h2>Заполните информацию о себе!</h2>
    </div>

	{{ this.render('_form.php', {'model' : model}) | raw }}

    <div class="clear"></div>
</div>





