<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Что делать в igoevent.com</h2>
		</div>
	</div>
	<div class="col-xs-12 col-lg-3 left_blo">
		{{ this.render('/module/company_step.twig', {'company' : company}) | raw }}
	</div>

	<div class="col-xs-12 col-lg-9">

		<div class="newblo grey">
			<h3 class="tal m0 pull-left">1. Заполнить реквизиты компании</h3>
			<a href="/crm/company/update" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>

		<div class="newblo grey">
			<h3 class="tal m0 pull-left">2. Подписать договор</h3>
			<a href="/crm/company/dogovor" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>

		<div class="newblo btop">
			<h3 class="tal m0 pull-left">3. Создать событие + даты + билеты + вставить виджет на свой сайт</h3>
			<a href="/crm/biblioevents/create" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>

		<div class="newblo ptop">
			<h3 class="tal m0 pull-left">4. Создать проект и добавить задачи</h3>
			<a href="/crm/projects/my" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>

		<div class="newblo gtop">
			<h3 class="tal m0 pull-left">5. Учесть доходы и расходы</h3>
			<a href="/crm/finance" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>

		<div class="newblo">
			<h3 class="tal m0 pull-left">х.Скачать акты</h3>
			<a href="/crm/company/docs" class="btn btn-success pull-right" target="_blank">Перейти</a>
		</div>
	</div>
</div>

