<div class="container">
	<a href="/" class="logo ma w200"><img src="/images/logo.svg" alt="" title=""></a>
</div>


<h1 class="tac mt50 mb0" style="color: #000; font-size: 84px;">404</h1>
<h2 class="tac mt0" style="color: #000;">Такой страницы на сайте нет!</h2>

{# {{ user }} #}