<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в маркете 4 Сезона</h2>
		</div>
	</div>
	<!--<div class="col-xs-6 col-lg-6">	
		<center>
		<a href="https://igoevent.com/site/tobewithyou" class="btn btn-success">Для физических лиц</a>
		</center>
	</div>
	<div class="col-xs-6 col-lg-6"><center>
		<a  class="btn active btn-success">Для ООО и ИП</a>
		</center>
	</div>

	<div class="col-xs-12 col-lg-12">
		&nbsp;
	</div>
	-->
	test

	<div class="col-xs-12 col-lg-12">
		<p>22 - Если условия вам подходят, пожалуйста, пришлите следующую информацию. Если у вас возникли вопросы или вы хотите изменить информацию пишите на почту market@foursiz.com или <a href="https://vk.com/write272209734">вконтакте</a></p>

		{{ this.render('_form_foursiz_master.php', {'model' : model, 'company' : company, 'events' : events }) | raw }}


	</div>
</div>
