 <div class="container">
	<div class="col-xs-12 col-lg-8 col-lg-offset-2">
		<h2 class="tac">Договор оказания услуг по организации мероприятия «{{ event.name }}»</h2>
		<p>Настоящий текст является публичной офертой компании «{{ event.company.name }}», ОГРН {{ event.company.ogrn }}, адрес {{ event.company.jaddress }} (далее – «Исполнитель»), т.е. предложением Исполнителя, являющегося организатором Мероприятия, указанного на соответствующей странице Сайта, заключить договор с любым Пользователем на указанных ниже условиях.</p>

		<p>В соответствии с пунктом 3 статьи 438 Гражданского кодекса Российской Федерации, надлежащим акцептом настоящей оферты считается последовательное осуществление Пользователем следующих действий:</p>

		<ul>
			<li>ознакомление с условиями настоящей оферты;</li>
			<li>введение регистрационных данных в анкете регистрации и подтверждение достоверности этих данных нажатием кнопки «Зарегистрироваться» либо «Купить билет».</li>
		</ul>

		<p>С момента нажатия кнопки «Зарегистрироваться», либо «Купить билет» соответственно и в случае верного последовательного выполнения всех указанных выше действий, договор оказания услуг по проведению Мероприятия считается заключенным между Исполнителем и Пользователем.
		</p>

		<p><strong>1. Предмет договора</strong></p>

		<p>1.1. Исполнитель обязуется оказать услуги по организации и проведению Мероприятия в соответствии с информацией (включая название, описание, дату, время и место проведения), указанной на соответствующей странице в сети Интернет.</p>

		<p>1.2. Услуги оказываются Исполнителем на бесплатной или платной основе путем реализации Электронных билетов посредством сайта igoevent.com с привлечением компании ООО «Хороший Проект» в качестве билетного агента. Стоимость Электронных билетов указаны на соответствующей странице в сети Интернет.</p>

		<p>1.3. Услуги оказываются Исполнителем такому Пользователю, который приобрел Электронный билет на Мероприятие Исполнителя.</p>

		<p>1.4. Приобретение Электронного билета осуществляется по правилам, установленным в пользовательском соглашении, размещенном в сети Интернет по адресу https://igoevent.com/pdf/iGoEvent_useragreement.pdf, заключенном между компанией ООО «Хороший Проект», являющейся билетным агентом Исполнителя, и Пользователем.</p>

		<p>1.5. Услуги Исполнителя считаются оказанными в момент предъявления Электронного билета Исполнителю или его уполномоченному лицу при посещении держателем Электронного билета Мероприятия.</p>

		<p>1.6. Все обязательства по поводу проведения Мероприятий, приобретения и возврата Электронного билета возникают между Пользователем и Исполнителем, за исключением случаев, прямо предусмотренных настоящей офертой.</p>

		<p><strong>2. Персональные данные</strong></p>

		<p>2.1. Пользователь дает свое согласие на обработку персональных данных, как c использованием средств автоматизации, так и без их использования.</p>

		<p>2.1.1. Фамилия, имя, отчество;</p>

		<p>2.1.2. Дата и место рождения;</p>

		<p>2.1.3. Гражданство;</p>

		<p>2.1.4. Реквизиты документа, удостоверяющего личность;</p>

		<p>2.1.5. Адрес места регистрации и проживания;</p>

		<p>2.1.6. Номера контактных телефонов;</p>

		<p>2.1.7. Адрес электронной почты;</p>

		<p>2.1.8. Место работы и занимаемая должность;</p>

		<p>2.1.9. Сведения о доходах;</p>

		<p>2.1.10. Сведения об образовании, повышении квалификации и переподготовке;</p>

		<p>2.1.11. Сведения о семейном положении и составе семьи;</p>

		<p>2.1.12. Сведения об интересах;</p>

		<p>2.1.13. Сведения о посещаемых мероприятиях.</p>

		<p>2.2. Целями обработки персональных данных является исполнение Исполнителем условий настоящего договора, а также проведение рекламных кампаний и маркетинговых исследований.</p>

		<p>2.3. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.</p>

		<p>2.4. Передача персональных данных третьим лицам осуществляется в соответствии с действующим законодательством Российской Федерации и соглашениями между Исполнителем и Пользователем.</p>

		<p>2.5. Персональные данные обрабатываются до прекращения деятельности Исполнителя. Хранение персональных данных осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</p>

		<p>2.6. Согласие может быть отозвано Пользователем путем направления письменного заявления Исполнителю на электронный адрес, указанный в разделе "Организатор" на полученном электронном билете.</p>

		<p>2.7. В случае отзыва Участником согласия на обработку персональных данных Исполнитель вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.</p>

		<p><strong>3. Возврат Электронного билета</strong></p>

		<p>3.1. Возврат Электронного билета осуществляется Исполнителем при условии получения от Пользователя соответствующего требования до начала Мероприятия в следующем порядке:</p>

		<p>3.1.1. В случае отмены и переноса Мероприятия Исполнитель возвращает Пользователю полную стоимость Электронного билета;</p>

		<p>3.1.2. В случае отказа Пользователя от участия в Мероприятии по собственной инициативе ранее, чем за 3 (три) дня до начала Мероприятия, при условии, что Мероприятие не отменено и не перенесено, Исполнитель возвращает Пользователю стоимость Электронного билета за вычетом расходов Исполнителя в размере 14% плюс 20 рублей за каждый Электронный билет;</p>

		<p>3.1.3. В случае отказа Пользователя от участия в Мероприятии по собственной инициативе менее, чем за 3 (три) дня до начала Мероприятия, при условии, что Мероприятие не отменено и не перенесено, Исполнитель вправе не осуществлять возврат;</p>

		<p>3.2. В указанных выше случаях требование о возврате должно быть направлено Пользователем Исполнителю по адресу электронной почты Исполнителя, указанному на Электронном билете, либо на адрес электронной почты компанией ООО «Хороший Проект» support@igoevent.com. В таком требовании должны быть указаны:</p>

		<ul>
			<li>Ссылка на страницу Мероприятия в сети Интернет;</li>
			<li>E-mail адрес, на который оформлен Заказ (доставлен Электронный билет);</li>
			<li>Причина возврата;</li>
			<li>Способ оплаты Электронного билета.</li>
		</ul>

		<p>3.3 Исполнитель имеет право осуществить возврат стоимости Электронного билета самостоятельно, либо поручить осуществление возврата компании ООО «Хороший Проект».</p>
	</div>
</div>