<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заполните форму, чтобы мы подготовили для вас договор.</h2>
		</div>
	</div>
	<div class="col-xs-6 col-lg-6">	
		<center>
		<a href="https://igoevent.com/site/tobewithyou" class="btn btn-success">Для физических лиц</a>
		</center>
	</div>
	<div class="col-xs-6 col-lg-6"><center>
		<a  class="btn active btn-success">Для ООО и ИП</a>
		</center>
	</div>
	<div class="col-xs-12 col-lg-12">
		&nbsp;
	</div>
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Форма для юридических лиц</h2>
		</div>
	</div>

	<div class="col-xs-12 col-lg-12">
		<p>Если у вас возникли вопросы или вы хотите изменить информацию, пишите на почту v@igoevent.com или <a href="https://wa.me/79254244207?text=Здравствуйте, Виталий. Пишу вам со страницы формы">what's app</a></p>

		{{ this.render('_form_contragent.php', {'model' : model}) | raw }}

	</div>
</div>
