<div class="steps">
	
	<div class="newblo">
			<h2>Инструкция</h2>
			<div class="step events">
				<a href="/post/post/create"><span class="glyphicon glyphicon-globe"></span> Post</a>
				<a href="/post/post/create?item=biblioevent&usecase=post" class="btn btn-success btn-xs">+ biblioevent</a>
				<a href="/post/post/create?item=event&usecase=speaker" class="btn btn-success btn-xs">+ Спикера</a>
			</div>
		</div>
	


</div>