<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в выставке «<a href="https://igoevent.com/msk/event/1001vases?utm_source=partner&utm_medium=vitalhit&utm_campaign=book&utm_content=&utm_term=">1001 Ваза</a>»</h2>
			<p>&nbsp;</p>
			<p>
			Приглашаем керамистов, стеклодувов и других мастеров и художников принять участие в выставке «1001 ваза»!
			</p><p>
			Это уникальная возможность представить свои работы широкой аудитории ценителей искусства и декоративных форм. Вазы, керамические и стеклянные объекты, скульптуры, графика, декоративные предметы — любая креативная идея, вдохновленная формой и красотой вазы, найдет место на нашей выставке.
			</p><p>
			Почему стоит участвовать?
			<ul><li>Ваша работа станет частью яркого культурного события.
			</li><li>Вы сможете завести новые творческие контакты и найти почитателей своего таланта.
			</li><li>Получите возможность продать свои работы или найти новых заказчиков.</li></ul></p>
			<p>
			Мы создали чат для участников выставки — там можно обмениваться идеями и получать оперативную информацию.
			</p><p>
			Не упустите шанс стать частью «1001 ваза» — события, которое объединяет мастеров и художников, вдохновленных красотой формы и материалом!</p>


			<hr>
			<h3>Часто задаваемые вопросы от художников</h3>
			<p>
				<ul><li>
			Анонсы выставки <a href="https://igoevent.com/msk/event/1001vases">Москве</a> и  <a href="https://igoevent.com/spb/event/1001vases">Санкт-Петербург</a>
				</li>
			</ul>
			<hr>
			<h3>Ссылки</h3>
			<ul>
				<li>Анонсы выставки <a href="https://igoevent.com/msk/event/1001vases">Москве</a> и  <a href="https://igoevent.com/spb/event/1001vases">Санкт-Петербург</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		{{ this.render('_form_exhcats.php', {'model' : model, 'company' : company, 'events' : events ,  'event_id' : event_id , 'person' : person }) | raw }}
	</div>
</div>
