<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в выставке «<a href="https://igoevent.com/msk/event/exh-cats?utm_source=">Вселенная кошек</a>»</h2>
			<p>&nbsp;</p>

			<p>
			Приглашаем художников и мастеров принять участие в выставке «Кошачья Вселенная»!</p>

<p>Это уникальная возможность представить свои работы широкой аудитории любителей искусства и кошек. Картины, скульптуры, графика, декоративные предметы — любая креативная идея, вдохновленная кошачьей грацией и тайной, найдет место на нашей выставке.</p><p>

<p>Почему стоит участвовать?</p>

<p>Ваша работа станет частью яркого культурного события.
Вы сможете завести новые творческие контакты и найти почитателей вашего таланта.</p>
<p>Получите возможность продать свои работы или найти новых заказчиков.</p>
<p> Мы создали чат для ходожников <a href="https://t.me/+egeaGqWWwoVmZWQy" target="_blank">в телеграм</a>.</p>
<p>
Не упустите шанс стать частью «Кошачьей Вселенной» — события, которое объединяет творчество и любовь к пушистым красавцам!</p>
			</p>

<hr>
<h3>Часто задаваемые вопросы от художников</h3>
<p>
	<ul><li>Заявку на участие в выставке нужно оставить на странице https://igoevent.com/book/exhcats</li>
	<li>В случае одобрение заявки, картины нужно привозить в день перед выстовкой с 15:00 до 21:00. </li>
	<li>Кол-во картин, которое можно подать на выставку от 1 до бесконечности. Если вы планируете привезти на выставку более 3х картин, то в этом случае просьба помочь нам при монтаже выставки.</li>
	<li>Ограничения по размеру картины нет, чем больше картина, тем лучше)
	</li><li>
	Участие для художников бесплатное. Вы можете поддержать проект купив билет <a href="https://igoevent.com/msk/event/exh-cats">по ссылке</a> и разместив информацию о выставке у вас социальных сетях.
	</li>
	<li>Открытки на данный момент не размещаем, нет оборудованной зоны для них. Готовим отдельную зону</li>

	<li>Мы принимаем оформленные работы, готовые к развесу:<br><li>— картина должна быть оформлена в рамке
	— с креплением для монтажа(развеса)
	—  подписанна с обратной стороны: автор, название работы и материал</li>
	<li>После одобрения участия вам нужно будет написать в чате в отдельном топике выставки(по дате): <br>
	— фотоработы<br>
	— Автор (ФИО/псевдоним/бренд)<br>
	— название/размер/материал
По желанию:<br>
— описание/расшифровка произведения<br>
— кьюаркоды на соцсети/сайт<br>
— стоимость <br>
 	</li><li>Все оплаты с мастерами/художниками производятся после окончания выставки</li>
	 
</li>
</ul>
<hr>
<h3>Ссылки</h3>
<ul><li><a href="https://igoevent.com/msk/event/exh-cats">Анонс на сайте</a>.
</li>
<li>Вконтакте: <a href="https://vk.com/catsuniversemsk">Встреча</a>, <a href="https://vk.com/catsuniverse">публичная страница</a>.
</li>
<li>Телеграм: <a href="https://t.me/+277sHUK9kMI1NmMy">канал органзатора IGoEvent</a>, <a href="https://t.me/+fwSBoUp9ZgFhZDky">канал выставки</a>.
</li>
</ul>


</p>
		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		{{ this.render('_form_exhcats.php', {'model' : model, 'company' : company, 'events' : events ,  'event_id' : event_id , 'person' : person }) | raw }}
	</div>
</div>
