<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в выставке «<a href="https://igoevent.com/msk/event/exhflowers">Выставка цветов</a>»</h2>
			<p>&nbsp;</p>

			<p>
			Приглашаем художников и мастеров принять участие в выставке «<a href="https://igoevent.com/msk/event/exhflowers">Выставка цветов</a>»!</p>

<p>Это уникальная возможность представить свои работы широкой аудитории любителей искусства и цветов. Картины, скульптуры, графика, декоративные предметы — любая креативная идея, вдохновленная красотой цветов, найдет место на нашей выставке.</p><p>

<p>Почему стоит участвовать?</p>

<p>Ваша работа станет частью яркого культурного события.
Вы сможете завести новые творческие контакты и найти почитателей вашего таланта.</p>
<p>Получите возможность продать свои работы или найти новых заказчиков.</p>

<p>
Не упустите шанс стать частью «Выставки цветов» — события, которое объединяет творчество и любовь к прекрасным растениям!</p>
			</p>
<p>
	Чат для художников <a href="https://t.me/+CWOllJ7iNu1iY2Zi">в телеграм</a>. Встреча <a href="https://vk.com/exhflowermsk">в ВКонтакте</a>.
</p>
		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		{{ this.render('_form_exhflowers.php', {'model' : model, 'company' : company, 'events' : events ,  'event_id' : event_id , 'person' : person }) | raw }}
	</div>
</div>
