<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие DJ в рейвах «<a href="https://igoevent.com/spb/event/morning-rave?utm_source=partner&utm_medium=igoevent">Утреней Кофейный Рейв</a>»</h2>
			<p>&nbsp;</p>

			<p>
			Москва и Питер! IgoEvent.com пришлашает к сотрудничеству диджеев, которые хотят попробовать новый и необычный формат и сыграть для утренней аудитории.
Мы еvent агенство, которое любит организовывать и проводить необычные мероприятия: дискотеку на ретро-роликах, концерты в Планетарии и музее Советских игровых автоматов и конечно же мы решили, что нам обязательно стоит организовать новый трендовый формат тусовок - Утренний Кофейный Рейв.
Наши ценности - зож и тусовки без дополнительной стимуляции 
Только бодрящий  кофе, классные dj сеты и танцы в отличной компании.</p>

<p>По всем вопросам - пишите организатору утреннего кофейного рейва Томе Стуловой @tomastulova (<a href="https://t.me/tomastulova">тг</a>, <a href="https://vk.com/tomastulova">вк</a>, инст).</p>

<h3>Ссылки</h3>
<ul><li>
 Санкт-Петербург: <a href="https://igoevent.com/spb/event/morning-rave">анонс</a> (<a href="https://vk.com/morningcoffeeravespb" target="">ВК</a>, <a href="https://t.me/+Jisg-RwKxtY1MzIy" target="_blank">телеграм</a>)
</li>
<li>igoevent.com Москва <a href="https://vk.com/igoeventmsk">вк</a>, <a href="https://t.me/+277sHUK9kMI1NmMy">телеграм</a>.</li></ul>
<li>igoevent.com Петербург <a href="https://vk.com/igoeventspb">вк</a>, <a href="https://t.me/+ZHgQyAZA3EliMGY6">телеграм</a>.

</p>

		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		{{ this.render('_form_exhcats.php', {'model' : model, 'company' : company, 'events' : events ,  'event_id' : event_id , 'person' : person }) | raw }}
	</div>
</div>
