<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в Гильдии Мастеров «<a href="https://steampunkfest.ru/?utm_source=partner&utm_medium=vitalhit&utm_campaign=igoevent.com&utm_content=book&utm_term=market">Фестиваля Стимпанка</a>»</h2>
			<p>&nbsp;</p>
			<p>
			Приглашаем художников и мастеров принять участие в ярмарке-выставки «<a href="https://steampunkfest.ru/guild-of-masters/">Гильдия Мастеров Стимпанк Фестиваля</a>»!</p>

<p>Маркет-ярмарка Гильдия Мастеров Стимпанк Фестиваля — это место, где стиль и технологии прошлого встречаются с фантазиями будущего. Здесь соберутся талантливые дизайнеры, мастера хэндмэйда, винтажные коллекционеры и ремесленники, создающие уникальные аксессуары, одежду и декор в стиле стимпанк. Вас ждут шляпы с часами, очки с шестеренками, ювелирные украшения с медными элементами и кожаные изделия ручной работы. На ярмарке можно не только приобрести оригинальные предметы, но и вдохновиться атмосферой фестиваля, встретиться с единомышленниками и открыть для себя новые грани стимпанк-культуры.<p>

<p>Срок рассмотрения 2-3 недели.<p>

<p>Для оформления заявки понадобятся следующие данные:
<br>
Ваше Ф.И.О.<br>
Ссылка на мастерскую в вк, телеграм  и/или сайт.<br>
Ваш контактный телефон.<br>
Фото (примеры работ).<br>
Мы предоставим Вам место, стол, стул, возможно розетку (обсуждается), при необходимости проходка для помощника.</p>
<p>
	Ссылки 
	<ul>
		<li><a href="https://t.me/+277sHUK9kMI1NmMy">Телеграм</a></li>
		<li><a href="https://vk.com/steampunkfestru">Встреча в ВКонтакте</a></li>
		<li><a href="https://steampunkfest.ru">Сайт Стимпанк Фестиваля</a></li></ul></p>
		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		{{ this.render('_form_steampunkmarket.php', {'model' : model, 'company' : company, 'events' : events ,  'event_id' : event_id , 'person' : person }) | raw }}
	</div>
</div>
