<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на участие в фестивале <a href="https://igoevent.com/spb/event/neoclassicfest">NeoclassicFest</a></h2>
		</div>
	</div>
	

	<div class="col-xs-12 col-lg-12">
		<p>Если условия вам подходят, пожалуйста, пришлите следующую информацию. Если у вас возникли вопросы или вы хотите изменить информацию пишите  <a href="https://vk.com/im?sel=-136527321">вконтакте</a></p>

		{{ this.render('form/_form_22_neoclassicfest.php', {'model' : model, 'events' : events }) | raw }}

	</div>
</div>
