<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Заявка на возврат средств за билеты</a></h2>
		</div>
	</div>
	

	<div class="col-xs-12 col-lg-12">
		<p><a href="https://igoevent.com/doc?id=1004">Шаблон заявления на возврат</a> (его нужно заполнять, если билет был куплен более 3х месяцев назад). Если у вас возникли вопросы или вы хотите изменить информацию пишите  <a href="https://vk.com/im?sel=-136527321">вконтакте</a></p>

		{{ this.render('form/_form_22_refund.php', {'model' : model, 'company' : company, 'events' : events }) | raw }}

		
	</div>
</div>
