<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>Спасибо, что заполнили форму.</h2>
		</div>
	</div>
	<div class="col-xs-1 col-lg-1">
	</div>

	<div class="col-xs-10 col-lg-10">
		<p style="text-align:center!important;">
		Спасибо, что заполнили форму. Скоро мы свяжемся с вами! 
		Если у вас возникли вопросы или вы хотите изменить информацию пишите на почту v@igoevent.com или <a href="https://wa.me/79254244207?text=Здравствуйте, Виталий. Пишу вам со страницы формы">what's app</a></p>
	</div>
</div>
