<div class="steps">
		<div class="newblo">
			<h2>Города</h2>

			<div class="step city">
				<a href="/crm/city"><span class="glyphicon glyphicon-globe"></span> Все города</a> <a href="/crm/city/create" class="btn btn-success btn-xs">+</a>
			</div>
			<div class="step events">
				
				
				<a href="https://vitalhit.com/blog/citis-url/"><span class="glyphicon glyphicon-globe"></span> Подсказка по урлам</a>
			</div>

		</div>
</div>