<div class="steps">
	<div class="newblo">
		<h2>Компания</h2>
		<div class="step what">
			<a href="/crm/company/what"><span class="glyphicon glyphicon-question"></span> Что делать?</a>
		</div>
		<div class="step comps">
			<a href="/crm/company/my"><span class="glyphicon glyphicon-briefcase"></span> Все компании</a>
		</div>
		<div class="step team">
			<a href="/crm/company/team"><span class="glyphicon glyphicon-thumbs-up"></span> Команда</a>
		</div>
	</div>


	<div class="newblo">
		<h2>Финансы</h2>
		<div class="step akt"><a href="/crm/company/payments"><span class="glyphicon glyphicon-minus"></span> Выплаты</a></div> 
		<div class="step akt"><a href="https://buh.igoevent.com/crm/dohod"><span class="glyphicon glyphicon-plus"></span> Доходы</a></div>
		{# <div class="step akt"><a href="/crm/company/rashod"><span class="glyphicon glyphicon-minus"></span> Расходы</a></div> #}
		{# <div class="step akt"><a href="/crm/company/vozvrat"><span class="glyphicon glyphicon-repeat"></span> Возвраты билетов</a></div> #}
		{# <div class="step akt"><a href="/crm/company/tarif"><span class="glyphicon glyphicon-cog"></span> Тарифы</a></div> #}
	</div>


	<div class="newblo">
		<h2>Создать новое</h2>
		<div class="step events">
				<a href="/crm/biblioevents"><span class="glyphicon glyphicon-globe"></span> Все события</a>
				<a href="/crm/biblioevents/create" class="btn btn-success btn-xs">+ событие</a>
		</div>
	</div>
	<div class="newblo">
		<h2>Документы</h2>
		<div class="step dogovor">
			<a href="https://buh.igoevent.com/crm/dogovor"><span class="glyphicon glyphicon-book"></span> Договор</a>
		</div>
		<div class="step akt"><a href="https://buh.igoevent.com/crm/akts"><span class="glyphicon glyphicon-ok"></span> Закрывающие акты</a></div>
	</div>
</div>