<div class="steps">
	<div class="newblo">
		<h2>Deals</h2>
		<div class="step pers">
			<a href="/crm/deal/"><span class="glyphicon glyphicon-user"></span> Все сделки</a>
			<a href="/crm/deal/create" class="btn btn-success btn-xs">+ сделка</a>
		</div>
	</div>
</div>		
