<div class="steps">
	<div class="newblo">
		<h2>EventDeal</h2>
		<div class="step pers">
			<a href="/crm/eventdeal/"><span class="glyphicon glyphicon-user"></span> Все сделки</a>
			<a href="/crm/eventdeal/create" class="btn btn-success btn-xs">+ сделка</a>
		</div>
	</div>
</div>		
