<div class="newblo">
	<h2>Фестивали</h2>
	<div class="step festival">
		<a href="/crm/festival"><span class="glyphicon glyphicon-road"></span> Все фестивали</a>
		<a href="/crm/festival/create" class="btn btn-success btn-xs">+ фестивали</a>
	</div>

</div>