<div class="newblo">
	<h2>Финансы</h2>
	<div class="step finance">
		<a href="/crm/finance"><span class="glyphicon glyphicon-rub"></span> Все операции</a>
		<a href="/crm/finance/create" class="btn btn-success btn-xs">+ операцию</a>
	</div>
	<div class="step contragent">
		<a href="/crm/contragent"><span class="glyphicon glyphicon-book"></span> КонтрАгенты</a>
		<a href="/crm/contragent/create" class="btn btn-success btn-xs">+</a> <a href="/crm/contragent/addip" class="btn btn-success btn-xs">ИП</a> <a href="/crm/contragent/addooo" class="btn btn-success btn-xs">ООО</a>
	</div>
</div>
<div class="newblo btop hidden-xs">  
	<h2>Навигация</h2>
	<div class="step finance">
		<a href="/crm/finance/all">Все подряд</a>
	</div>
	<div class="step finance">
		<a href="/crm/finance#withoutevent">Без событий</a>
	</div>
	<div class="step finance">
		<a href="/crm/finance#"> Наверх</a>
	</div>
	<div class="step finance">
		<a href="/crm/finance/noevent"> Без событий</a>
	</div>
</div>
<div class="newblo btop hidden-xs">
	<h2>Задачи</h2>
	<div class="step logistics">
		<a href="/crm/finance/todo">Подготовить документы</a>
	</div>
	<div class="step logistics">
		<a href="/crm/finance/printed">Подписаны: ожидаем оплаты</a>
	</div>
	<div class="step logistics">
		<a href="/crm/logistics">Задачи по логистике</a>
	</div>
</div>
<div class="newblo btop hidden-xs">
	<h2>Резиденция</h2>
	<div class="step persons">
		<a href="/crm/persons">Резеденция</a>
	</div>
	<div class="step smena">
		<a href="/crm/smena">Смены</a>
	</div>
	
</div>
