<div class="newblo">
	<h2>Маркеты</h2>
	<div class="step festival">
		<a href="/crm/market"><span class="glyphicon glyphicon-road"></span> Все маркеты</a>
		<a href="/crm/market/create" class="btn btn-success btn-xs">+ маркет</a>
	</div>

</div>