<div class="steps">
	<div class="newblo">
		<h2>Медиа</h2>
		<div class="step pers">
			<a href="/crm/media/"><span class="glyphicon glyphicon-user"></span> Все медиа</a>
			<a href="/crm/media/create" class="btn btn-success btn-xs">+ гость</a>
		</div>
	</div>
</div>
