<div class="steps">
	<div class="newblo">
		<h2>Сделать</h2>
		<div class="step clients">
			<a href="/crm/todotodays/"><span class="glyphicon glyphicon-star"></span> To do today</a>
			<a href="/crm/todotodays/create" class="btn btn-success btn-xs">+ todotoday</a>
		</div> 
		<div class="step pers">
			<a href="/crm/todos/"><span class="glyphicon glyphicon-user"></span>To do </a>
			<a href="/crm/todos/create" class="btn btn-success btn-xs">+ todo</a>
		</div>

		</div>
</div>
