<div class="steps">
	

	<div class="newblo">
		<h2>Гости</h2>
		<div class="step bookingapi">
			<a href="/crm/bookingapi"><span class="glyphicon glyphicon-folder-open"></span> Заявки </a>
			<a href="/crm/bookingapi/create" class="btn btn-success btn-xs">+ заявка</a>
		</div>
		<div class="step froms">
			<a href="/crm/froms"><span class="glyphicon glyphicon-screenshot"></span> Откуда</a>
			<a href="/crm/froms/create" class="btn btn-success btn-xs">+ источник</a>
		</div>
		<div class="step list">
			<a href="/crm/book-list"><span class="glyphicon glyphicon-leaf"></span> Листы ожидания </a>
			<a href="/crm/book-list/create" class="btn btn-success btn-xs">+ лист</a>
		</div>
	</div>

	<div class="newblo">
		<h2>Гости</h2>
		<div class="step clients">
			<a href="/crm/clients/index"><span class="glyphicon glyphicon-star"></span> Все клиенты</a>
			<a href="/crm/clients/create" class="btn btn-success btn-xs">+ клиент</a>
		</div> 
		<div class="step pers">
			<a href="/crm/persons/allpersons"><span class="glyphicon glyphicon-user"></span> Все гости</a>
			<a href="/crm/persons/create" class="btn btn-success btn-xs">+ гость</a>
		</div>
		<div class="step placers">
			<a href="/crm/placers/index"><span class="glyphicon glyphicon-star"></span> All placers</a>
			<a href="/crm/placers/create" class="btn btn-success btn-xs">+ placer</a>
		</div>
		<div class="step promoter">
			<a href="/crm/promoters/index"><span class="glyphicon glyphicon-star"></span> All promoeters</a>
			<a href="/crm/promoters/create" class="btn btn-success btn-xs">+ promoter</a>
		</div>
		<div class="step newsmakers">
			<a href="/crm/newsmakers/index"><span class="glyphicon glyphicon-star"></span> All newsmakers</a>
			<a href="/crm/newsmakers/create" class="btn btn-success btn-xs">+ newsmaker</a>
		</div>
		<div class="step tools">
			<a href="/crm/tool/index"><span class="glyphicon glyphicon-star"></span> All tools</a>
			<a href="/crm/tool/create" class="btn btn-success btn-xs">+ tool</a>
		</div>
		<div class="step musicians">
			<a href="/crm/musicians/index"><span class="glyphicon glyphicon-star"></span> All musicians</a>
			<a href="/crm/musicians/create" class="btn btn-success btn-xs">+ musician</a>
		</div>
		<div class="step employees">
			<a href="/crm/employees/index"><span class="glyphicon glyphicon-star"></span> All employees</a>
			<a href="/crm/employees/create" class="btn btn-success btn-xs">+ employee</a>
		</div>
		<div class="step partners">
			<a href="/crm/partners/index"><span class="glyphicon glyphicon-star"></span> All partners</a>
			<a href="/crm/partners/create" class="btn btn-success btn-xs">+ partners</a>
		</div> 
	</div>
</div>
