<div class="newblo">
	<h2>Отчеты</h2>
	<div class="step report">
		<a href="/crm/report"><span class="glyphicon glyphicon-rub"></span> Все отчеты</a>
		<a href="/crm/report/create" class="btn btn-success btn-xs">+ отчет</a>
	</div>

</div>