<div class="steps">
	<div class="newblo">
		<h2>Резиденция</h2>
		<div class="step residence">
			<a href="/crm/persons/"><span class="glyphicon glyphicon-user"></span> Резиденция</a>
		</div>
		<div class="step pers">
			<a href="/crm/persons/allpersons"><span class="glyphicon glyphicon-user"></span> Все гости</a>
			<a href="/crm/persons/create" class="btn btn-success btn-xs">+ гость</a>
		</div>
		<div class="step visit">
			<a href="/crm/visits"><span class="glyphicon glyphicon-user"></span> Визиты</a>
		</div>
		<div class="step smena">
			<a href="/crm/smena"><span class="glyphicon glyphicon-user"></span> Смены</a>
		</div>
{# 		<div class="step abonements">
			<a href="/crm/abonements"><span class="glyphicon glyphicon-user"></span> Абонементы</a>
			<a href="/crm/abonements/create" class="btn btn-success btn-xs">+ абонемент</a>
		</div> #}
	</div>
</div>

{# ['label' => 'Склад', 'url' => ['product/index']],
			['label' => 'Товары', 'url' => ['goods/index']],
			// ['label' => 'Тех карты', 'url' => ['ingredients/index']],
			['label' => 'Ингрeдиенты', 'url' => ['items/index']],
			['label' => 'Склад', 'url' => ['/buys/index']], #}