<div class="newblo">
	<h2>Возвраты</h2>
	<div class="step return">
		<a href="/crm/return"><span class="glyphicon glyphicon-rub"></span> Все возвраты</a>
		<a href="/crm/return/create" class="btn btn-success btn-xs">+ возврат</a>
	</div>

</div>