<div class="newblo">
	<h2>Смены</h2>
		<div class="step persons">
		<a href="/crm/persons"><span class="glyphicon glyphicon-user"></span> Резеденция</a>
	</div>
	<div class="step smena">
		<a href="/crm/smena"><span class="glyphicon glyphicon-road"></span> Смены</a>
		<a href="/crm/smena/create" class="btn btn-success btn-xs">+ смену</a>
	</div>
	<div class="step finance">
		<a href="/crm/finance"><span class="glyphicon glyphicon-piggy-bank"></span> Операции</a>
		
	</div>
	<div class="step contragent">
		<a href="/crm/contragent"><span class="glyphicon glyphicon glyphicon-book"></span> Контрагенты</a>
		
	</div>

</div>