<div class="steps">
	
		<div class="newblo">
			<h2>Заявки</h2>

			<!--<div class="step category">
				<a href="/crm/categoryevents/my"><span class="glyphicon glyphicon-flag"></span> Категории</a>
				<a href="/crm/categoryevents/create" class="btn btn-success btn-xs">+ категорию</a>
			</div> -->
			<div class="step events">
				
				<a class="btn btn-success btn-xs" href="/crm/order/">  Новые </a>
                <a class="btn btn-success btn-xs" href="/crm/order/?closed=1">  Закрытые </a>
                <a class="btn btn-success btn-xs" href="/crm/order/create"> <span class="glyphicon glyphicon-plus small"></span></a>
			</div>
			

		</div>
	
</div>