<footer class="container"> 
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8">
			<img class="logo-footer" src="/images/logo-mini.svg">
			<p class="copyrite">© 2018-{{now|date("Y")}} iGoEvent.com — мы создаем события. Права на текстовые и другие материалы, размещенные на сайте, охраняются законом. При цитировании обязательна прямая ссылка на iGoEvent.com.
			</p>
			<p class="copyrite"> <a href="http://vitalhit.com/">vitalhit</a></p>
			<ul class="footer-nav">
				<li><a href="page/about">О проекте</a></li>
				<li><a href="/page/contacts">Контакты</a></li>
				<li><a href="https://igoevent.com/pdf/iGoEvent_useragreement.pdf">Пользовательское соглашение</a></li>
				<li class="years"><img src="/images/ico-18-plus.svg"></li>
			</ul>
			<noindex>
				<!-- liveinternet -->
			</noindex>
		</div>
	</div>
</footer>