<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>{{ projects.name }}: Создайте задачу	</h2>
		</div>
	</div>
	<div class="hidden-xs col-lg-3 left_blo">
		<div class="steps">
			{{ this.render('/module/project_step.twig', {'project' : projects}) | raw }}
		</div>
	</div>
	<div class="col-xs-12 col-lg-9">
		{{ this.render('_form.php', {'model' : model, 'projects' : projects, 'parent_task' : parent_task}) | raw }}
	</div>
</div>